.location{
    background-image: linear-gradient(to bottom, rgba(30,31, 29, 0.23), rgba(0, 0, 0, 0.918)),url('../../../images/museum.jpg');
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: transparent;
}
.location iframe{
    width:100%;
    height:500px;
    padding-bottom: 0px;
    zoom: .7;
    overflow: hidden;
    margin-top: 350px;
}