.event_img{
    position: relative;
    overflow: hidden;
}
.event_img img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.mb_20{
    margin-bottom: 20px;
}
.event_overlay{
    position: absolute;
    top: -100%;
    left: 0;
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: block;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
    z-index: 10;
}

.event_overlay p,h6{
    padding: 10px;
    color: #fff;
}
.event_overlay h5{
    padding: 10px;
    color: #f19100;
}

.btn-main .btn-book{
    padding: 0 37px;
    margin-left: 10px;
}

.btn-book.booking{
    background: #f19100 none repeat scroll 0 0;
    border: 1px solid #f19100;
}
.btn-main:hover .btn-book.booking{
    background: transparent;
    border: 1px solid #f19100;
    color: #fff;
    text-shadow: none;
}

.btn-book{
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 42px;
    line-height: 40px;
    padding: 0 40px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.event_img:hover .event_overlay{
    top: 0;
}